/**
 * @file
 * Styles for the direct deposit form.
 */
.header-region {
  .first img {
    width: 50%;
    height: auto;
  }

  .last {
    padding-bottom: 8px;
    
    img {
      max-width: 25%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    }
  }

  .columns {
    vertical-align: middle;
    padding-top: 16px;
  }
}

th.header-column {
  padding-bottom: 2px;
}

table.callout {
  margin-bottom: 0;
}

.step {
  margin-right: 2em;

  &:last-child {
    margin-right: 0;
  }
}

.step-num {
  color: $primary-color;
  font-weight: bold;
  font-size: $h5-font-size;
  margin-right: 2px;
}

.section-title {
  color: $primary-color;
}

.account-info th {
  padding: 2px 6px;
}

.border-row {
  border: 1px solid $primary-color;

  &.top-border {
    border-bottom: 0;

    th {
      padding-top: 4px;
    }
  }

  &.bottom-border {
    border-top: 0;

    th {
      padding-bottom: 4px;
    }
  }
}

th.border-top {
  padding-bottom: 8px;

  th {
    border-top: 1px solid $black;
    padding-top: 6px;
  }

  &.first {
    padding-right: 0;
  }

  &.last {
    padding-left: 0;
  }
}

.checkboxes img {
  width: 55%;
  height: auto;
}

.check-numbers--wrapper {
  margin-top: -12px;

  .first {
    padding: 0;
    margin: 0;
    width: 17px;
  }
}

th.check-number {
  padding: 0 0 8px;
  width: 92px;

  th {
    text-align: center;
    font-size: 85%;
  }
}

.check-img {
  max-width: 80%;
}

.signature-wrapper {
  margin-top: 1.5em;
}
