table.container.float-center {
  overflow: hidden;
}

th,
tr,
table,
td {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 16px;
}

.tip-img-wrapper {
  vertical-align: top;
}

.outer-wrapper {
  border: 1px solid #ddd;
  margin: 0 16px 16px;
  border-radius: 7px;
  padding: 18px;
  background-color: #fdfdfd;
}

.inner-wrapper {
  border: 1px solid #4DD2B3;
  border-radius: 7px;
  padding: 16px;
}

.dd-setup-header {
  color: #4DD2B3;
  margin-right: 0;
  text-align: center;
  /* Small only */
  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 1.2em;
  }
}

.footer-links-wrapper {
  margin-bottom: 16px;
  th.columns {
    border-right: 1px solid #2199e8;
    padding-bottom: 0 !important;

    &.last {
      border-right: 0;
    }

    th {
      text-align: center;
    }

    a {
      margin-left: 3px;
      margin-right: 3px;
    }
  }
}
